/infralabs/devops/vagrant/.vagrant/machines/controle/virtualbox/private_key
/infralabs/devops/vagrant/.vagrant/machines/web/virtualbox/private_key
/infralabs/devops/vagrant/.vagrant/machines/db/virtualbox/private_key
